* {
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
  color: $headerBgColour;
  background-attachment: fixed;
  background-image: url("../../assets/images/45degreee_fabric.png");
  
}


a {
	color: $mainColour;
}
