/*Main colours*/

$mainColour: #f9680e;

$mainColourGradient: #f9680e;
$bgColour: #7f4e26;
$shadowColour: #3a2311;

$headerBgColour: #a54306;
$headerBtn: #26a576;
$mainNavUnSelected: #af683b;


/*Section colours*/
$aboutBgColour: #FFF;
$skillsBgColour: #FFF;
$strengthsBgColour: #FFF;
$projectsBgColour: #FFF;


