/*Main colours*/

$mainColour: #f9680e;

$mainColourGradient: #f9680e;
$bgColour: #7f4e26;
$shadowColour: #7f4e26;

$headerBgColour: #332d27;
$mainNavUnSelected: #635342;


/*Section colours*/
$aboutBgColour: #FFF;
$skillsBgColour: #FFF;
$strengthsBgColour: #FFF;
$projectsBgColour: #FFF;


