.site-footer{
  margin: 0;
  padding: 0;
  width: 100%;
  padding: .4rem 0;
  text-align: center;
  color: white;
  background-image: url("../../assets/images/darkdenim3.png");
  

  /*Braking button in next line for medium size screens*/
  &__text {
    
    margin: 0 12px;

   
  }

}