.main-nav {
  text-align: center;


  ul {
    margin: 0;
    padding: 0;
  }

  li {
    
    list-style: none;
    /*Align items horizontally*/
    display: inline-block;
    /*creates a padding between each item*/
    padding: 5px 10px 5px 0;
  }
  
  a {
    opacity: 0;
    color: #FFF;
    text-decoration: none;
    font-size: .8rem;   
    animation-name: menuItems;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    

  }
  

  .underline {
    background-color: $mainNavUnSelected;
    height: 5px;
    opacity: 0;
    animation-name: underline;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    border-radius: 20px;

    &--is-current-link {
      background-color: $mainColour;
    }
  
  }

   

  & :nth-child(2) .underline {
    animation-delay: .5s;
  }

  & :nth-child(3) .underline {
    animation-delay: 1s;
  }

  & :nth-child(4) .underline {
    animation-delay: 1.5s;
  }

  /*Target the second and subsequent elements to delay its animation*/
  & :nth-child(2) a {
    animation-delay: .5s;
  }

  & :nth-child(3) a {
    animation-delay: 1s;
  }

  & :nth-child(4) a {
    animation-delay: 1.5s;
  }


} /* /main-nav */

/*Start Animation */
@keyFrames underline {
  /*Style when the animation is 0% completed*/
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  60% {
    opacity: 1;
    transform: translateY(0px);
  }
  70% {

    transform: translateY(-4px);
    /*background-color: $mainNavSelected;*/
  }
  80% {

    transform: translateY(0px)
  }
  90% {
    transform: translateY(-2px)
  }
  /*Style when the application is at 100% completion*/
  100% {
    opacity: 1;
    transform: translateY(0);
   // background-color: $mainNavUnSelected;
  }
}

/*Start Animation */
@keyFrames menuItems {
  /*Style when the animation is 0% completed*/
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0.4;
  }
  /*Style when the application is at 100% completion*/
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




/* End Animation */