.project {

  position: relative;
  
  

  @mixin atMedium {
    p {
      margin-top: 50px;
    }
  }

  &__screen {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: top;
    p {
      margin-top: 0;
    }

    @mixin atMedium {
      flex-direction: row;
      height: 180px;

      p {
        width:70%;
        margin-top: 50px;
        line-height: 1.4em;
      }
    }
    
  }

  &__image {
    padding: 10px 0;
    height: 230px;
    

    @mixin atMedium {
      height: 0;
    }
  }


  &__image-site {
    position: relative;
    width: 15em;
    display: block;
    margin: 25px auto -65px auto;
    transform: perspective( 630px ) rotateY(45deg);
    box-shadow:0 0 20px rgba($shadowColour, .8);
    
    @mixin atMedium {
      /*position: absolute;*/
      /*left: 0;
      margin: 5px auto 5px auto;*/
    }
  }

  &__image-mobile {
    position: relative;
    width: 5em;
    display: block;
    margin: 25px auto -65px auto;
    top: -100px;
    left: 40px;
    transform: perspective( 650px ) rotateY(45deg);
    box-shadow:0 0 20px rgba($shadowColour, .8);

    @mixin atMedium {
      position: absolute;
      margin: 0;
      left: 118px;
      top: 90px;

    }
  }

   

}

