.section {
 
  padding: 20px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0px 10px 6px -6px $shadowColour;

  &__about {
    background-color: rgba($aboutBgColour, .6);
  }

  &__skills {
    background-color: rgba($skillsBgColour, .6);
  }

  &__strenghts {
    background-color: rgba($strengthsBgColour, .6);
  }

  &__projects {
    background-color: rgba($projectsBgColour, .6);
  }
}